*{margin: 0; padding: 0; color: #333; font-family: 'Pretendard', sans-serif;}

.box {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.box01 {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
  position: absolute;
  box-sizing: border-box;
}

.box02 {
  width: 153px;
  height: 153px;
  border: 3px solid #000;
  position: absolute;
  box-sizing: border-box;
}